<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link href="toc/" rel="index">
  </head>
  <body>
	<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary flex-column flex-md-row">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="/assets/logo.png" width="40px" height="40px" id=logo alt="Logo image" style="margin-left: 10px;" />
          <span>Flow portal</span>
        </a>
        {% set navPages = collections.all | eleventyNavigation %}
        <ul class="navbar-nav mr-auto flex-row">
          {% for entry in navPages %}
          <li class="nav-item">
            <a class="nav-link{% if entry.url == page.url %} active{% endif %}" href="{{ entry.url | url }}">{{ entry.title }}</a>
          </li>
          {% endfor %}
        </ul>
        <div class="search-container">
          <form>
          <div class="search-field">
            <input class="input-search" type="text" id="search" autocomplete="off" placeholder="Search" select="outline: none;"/>
            <button class="reset-button" id="reset-button" type="reset" onClick="myReset()" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
  <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
</svg></button>
          </div>
          <div class="result-box">
          <div id="results" class="results"></div>
          <div id="sec-results" class="results"></div>
          </div>
          <script src="/assets/search.js" async defer></script>
          </form>
        </div> 
      </div>
    </nav>
    </header>
    <main>
        <article>
    <div id="content" class="container">
            <div class="row">
        {{ content | safe }}
    </div>
    </div>
    </article>
    </article>
    </main>
  </body>
</html>